.movieCard {
    min-width: 30%;
    min-height : 160px;
    margin: 10px auto 5px auto;
    padding-bottom : 10px;
    background-color: black;
    border : 1px solid black;
	border-radius: 5px;
    text-align: center;  
}

 h2 {
    margin: 10px auto;
    color : white;
    font-size : 25px;
}

 h4 {
    margin : 10px auto 20px auto;
    color :#8AB4F8;
    font-weight : normal;
    font-size : 18px;
    font-weight : bold;
}

.deleteButton {
    margin-right : 10px;
    padding : 7px;
    float : right;
    background-color: black;
    color : white;
    border : none;
    border-radius : 5px;
    font-style : italic;
    cursor : pointer;
}

.deleteButton:hover {
    background-color : #FFF;
    color : #4a69bd;
}